@import "tailwindcss";


/* styles.css ou global.css */
.perspective {
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;
}

.card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}
.input-field {
  @apply w-full px-4 py-3 rounded-xl bg-white/30 dark:bg-gray-800/50 text-gray-900 dark:text-gray-100 placeholder-gray-400 dark:placeholder-gray-300 border border-white/30 dark:border-gray-700 shadow-inner focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-transparent transition;
}

.btn-primary {
  @apply px-6 py-3 rounded-xl text-white font-semibold shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-emerald-400;
}

.grid-background {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to top, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 25px; /* horizontal = gridSize, vertical = noteHeight */
}
